Carts/__pycache__
Carts/migrations

Chat/__pycache__
Chat/migrations

Courses/__pycache__
Courses/migrations

Orders/__pycache__
Orders/migrations

Pages/__pycache__
Pages/migrations

PrivateSessions/__pycache__
PrivateSessions/migrations

Products/__pycache__
Products/migrations

Ranks/__pycache__
Ranks/migrations

Reports/__pycache__
Reports/migrations

TTG/migrations
TTG/__pycache__

Users/__pycache__
Users/migrations

