{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>TTG</title>{% endblock title %}
    <script src="https://kit.fontawesome.com/f45f6ff45f.js" crossorigin="anonymous"></script>
    
    {% block head %}{% endblock head %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/default.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/icons8-academy-48.png' %}">

</head>

<body class="body">
    
    <header class="header">
        {% block header %}{% endblock header %}
    </header>

    <main class="main" id="main">
        {% block main %}{% endblock main %}
    </main>

    <footer class="footer">
        {% block footer %}{% endblock footer %}
    </footer>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
    <script src="{% static "js\partials\base.js" %}"></script>
    {% block scripts %}{% endblock scripts %}

</body>

