{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "styles/checkout.css" %}">
  {% block title %}
    <title>Checkout - Tunisian Top Gs</title>
  {% endblock title %}
{% endblock head %}

{% block header %}
  {% include "components/navbar.html" %}
{% endblock header %}

{% block main %}
  <div class="shopping-cart">
    <div class="h1-text">Checkout</div>
    <div class="items-container">
      <div class="Title">
        Add Your Adresse
      </div>
      <form method="POST">
        {% csrf_token %}
        <div>
            <div class="input-container">
                <label for="id_first_name">First Name</label>
                <input type="text" id="id_first_name" name="first_name" />
            </div>
            <div class="input-container">
                <label for="id_last_name">Last Name</label>
                <input type="text" id="id_last_name" name="last_name" />
            </div>
        </div>
        <div class="input-container">
            <label for="id_address">Address</label>
            <input type="text" id="id_address" name="address" />
        </div>
        <div>
            <div class="input-container">
                <label for="id_city">City</label>
                <input type="text" id="id_city" name="city" />
            </div>
            <div class="input-container">
                <label for="id_state">State</label>
                <input type="text" id="id_state" name="state" />
            </div>
            <div class="input-container">
                <label for="id_zip_code">Zip Code</label>
                <input type="text" id="id_zip_code" name="zip_code" />
            </div>
        </div>
    </form>
    </div>

    <div class="delivery-container">
      <div class="Title">
        Choose Your Payment Method
      </div>
      <div class="payment-method">
        <div class="payment">
          <input type="radio" id="paypal" name="payment" value="paypal" />
          <label for="paypal">Cash On Delivery </label>
          <i data-lucide="truck"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="order">
    <div class="order-container">
      <div class="order-details">
        <span class="h1-text">Order Summary</span>
        <div class="price">
          <span class="p-text">Price</span>
          <span class="p-text">TND {{cart.price}}</span>
        </div>
        <div class="discount">
          <span class="p-text">Discount</span>
          <span class="p-text">TND 0</span>
        </div>
        <div class="shipping">
          <span class="p-text">Shipping</span>
          <span class="p-text greener">Free</span>
        </div>
        <div class="coupon">
          <span class="p-text">Coupon Applied</span>
          <span class="p-text">TND 0.00</span>
        </div>
      </div>
      <div class="divisier"></div>
      <div class="order-total">
        <div class="total">
          <span class="p-text">Total</span>
          <span class="p-text">TND {{cart.price}}</span>
        </div>
        <div class="delivery">
          <span class="p-text">Estimated Delivery by</span>
          <span class="p-text">01 Feb, 2024</span>
        </div>
        <a class="btn place-order-button" href="#">
          <span id="placeOrderText">Place Order</span>
          <span id="loadingIndicator" style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-refresh-ccw spinner"><path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/><path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"/><path d="M16 16h5v5"/></svg></span> <!-- Simple emoji spinner, replace with your preferred icon -->
          </span> <!-- You can replace this with any loading icon -->
      </a>
      

        <span class="place-order">By placing your order, you agree to our company Privacy policy and Conditions of use.</span>
      </div>
    </div>
  </div>
</main>
{% endblock main %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const placeOrderButton = document.querySelector(".place-order-button");
    const placeOrderText = document.getElementById('placeOrderText');
    const loadingIndicator = document.getElementById('loadingIndicator');
  
    placeOrderButton.addEventListener("click", function(event) {
      event.preventDefault(); // Prevent the default action of the anchor tag
      
      // Update button to show loading state
      placeOrderText.textContent = 'Processing...';
      loadingIndicator.style.display = 'inline-block';
  
      // Collect input values
      const firstName = document.getElementById("id_first_name").value;
      const lastName = document.getElementById("id_last_name").value;
      const address = document.getElementById("id_address").value;
      const city = document.getElementById("id_city").value;
      const state = document.getElementById("id_state").value;
      const zipCode = document.getElementById("id_zip_code").value;
      const paymentMethod = "credit-card"; // Static for this example
      const cartId = "{{ cartID }}"; // Assuming this is provided by your template engine
  
      // AJAX request to create the order
      $.ajax({
        type: 'POST',
        url: '/create-order/',
        data: {
          "first_name": firstName,
          "last_name": lastName,
          "address": address,
          "city": city,
          "state": state,
          "zip_code": zipCode,
          "payment_method": paymentMethod,
          "cartId": cartId,
        },
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
        },
        success: function(response) {
          console.log(response);
          setTimeout(function() {
            // Redirect or take action only after 0.8 seconds of showing the loading indicator
            window.location.href = response.url;
          }, 1500); // 800 milliseconds = 0.8 seconds
        },
        error: function(xhr, status, error) {
          console.error('Error:', error);
          // Handle error by reverting button text
          placeOrderText.textContent = 'Place Order';
          loadingIndicator.style.display = 'none';
        }
      });
    });
  
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });
  
</script>
{% endblock scripts %}