{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/forgetPassword.css" %}">
{% endblock head %}



{% block main %}

<div class="login-wrapper">
  <div class="left-box">
    <div class="maps-background">
      <img src="{% static "assets/mapbase.svg" %}" alt="escape-matrix" />
    </div>
      <div class="escape-matrix-wrapper">
          <h1>Escape the matrix</h1> 
          <h6>Join us now and be one of the top G'S</h6>
        </div>
  </div>
  <div class="right-box">
    <h1>Forget Password</h1>
    <p>
      please enter the email address you'd like your <br /> password reset information sent to 
    </p>

    <form class="form-wrapper" method="POST">
      {% csrf_token %}
      <div class="input-wrapper">
        <label for="email">Email</label>
        {{ form.email }}
      </div>

      <input type="submit" class="login-btn" value="Request Reset Link"/>

      <div class="login-redirect">
          <a href="/login" class="sign-up-link">Back to login</a>
      </div>
    </form>
  </div>
</div>

{% endblock main %}