{% extends "course.html" %}
{% load static %}

{% block course-head %}
<link rel="stylesheet" href="{% static "styles/imgQuizz-course.css" %}">

{% endblock course-head %}

{% block course-content %}
<div class="container-quiz">
    <div class="title-default-quiz">
        <span class="text-default-quiz">QUIZZES</span>
    </div>
    <div class="fill-question">
        <span class="question-text">Question: Who created the crypto named Bitcoin?</span>
    </div>

    <div id="container-answers" class="answers-design"></div>
    
    <div class="next-lesson">
    <div>
    <a href="#" class="keep-next">BACK</a>
</div>
<div>
    <a href="#" class="keep-next">NEXT</a>
</div>
</div>
    </div>

{% endblock course-content %}

{% block scripts %}
<script src="{% static "js/imgQuizz-course.js" %}"></script>

{% endblock scripts %}