{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/newPassword.css" %}">
{% endblock head %}

{% block title %}Set New Password{% endblock title %}

{% block main %}
<div class="login-wrapper">
  <div class="left-box">
      <div class="escape-matrix-wrapper">
          <h1>Escape the matrix</h1> <br />
          <h6>Join us now and be one of the top G'S</h6>
        </div>
  </div>
  <div class="right-box">
    <h1>Set New Password</h1>
    <p>
      Must Be At Least 8 Characters Long
    </p>

    <form method="post">
      {% csrf_token %}
      <div class="input-wrapper">
        <label for="id_password1">New Password</label>
        {{ form.new_password1 }}
      </div>
      <div class="input-wrapper">
        <label for="id_password2">Confirm New Password</label>
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="login-btn">Reset Password</button>
    </form>
  </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="{% static "js/newPassword.js" %}"></script>
{% endblock scripts %}
