{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/privateSessionScheduleDone.css" %}">
{% endblock head %}

{% block main %}
<main>
    <div class="schedule-container">
      <div class="schedule-header">
        <span>LOOKING TO HAVE A <br> PRIVATE SESSION?</span>
        <div class="img">
          <img src="{% static "assets/ttgq.svg" %}" alt="" />
        </div>
      </div>
      <div class="schedule-body done-body">
        <div class="schedule-body-left">
          <img src="{% static "assets/done.svg" %}" alt="Schedule Done" class="jello-horizontal"/>
      </div>
      <div class="schedule-body-right">
        <div class="done-container">
          <span>Thank you for expressing interest in a private session</span>
          <span>We're excited to connect with you! Expect a follow-up from us in 3 to 5 business days. Thanks for reaching out!</span>

          <a class="next-tab-btn" href="{% url "private_session" %}">Go Back</a>

        </div>
      </div>
    </div>
  </main>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}

<script src="{% static "js/privateSessionScheduleDone.js" %}"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var goBackBtn = document.querySelector('.next-tab-btn');
  
      goBackBtn.addEventListener('click', function(event) {
          if (window.history.length > 1) {
              event.preventDefault();
              window.history.back();
          } // Otherwise, let the default "href" action proceed
      });
  });
  
  </script>
{% endblock scripts %}