{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/settingsResetPassword.css" %}">
{% block title %}<title>Change Password | Tunisian Top Gs</title>{% endblock title %}
{% endblock head %}

{% block header %}
{% include "components/navbar.html" %}
{% endblock header %}

{% block main %}
<div class="main">
  <div class="form">
    <a href="#" class="go_back" onclick="goBack()"><i data-lucide="undo-2"></i> Go Back</a>
    <div class="form-header">
      <span class="h1-text">Login & Security</span>
      <span class="p-text">
        Updating a password using the old password involves changing the existing password without additional verification, providing a convenient method for users while emphasizing the importance of maintaining the security of the old password.
      </span>
    </div>
    <div class="form-body">
      <form id="passwordChangeForm">
        {% csrf_token %}
        <div class="field">
          <label for="old-password">Old Password</label>
          <div class="password-field">
            <input type="password" id="old-password-field" name="old_password" placeholder="Enter your old password" />
            <span toggle="#old-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div>
        </div>
        <div class="field">
          <label for="new-password">New Password</label>
          <div class="password-field">
            <input type="password" id="password-field" name="new_password1" placeholder="Enter your new password" />
            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div>
        </div>
        <div class="field">
          <label for="confirm-password">Confirm Password</label>
          <div class="password-field">
            <input type="password" id="confirm-password-field" name="new_password2" placeholder="Confirm your password" />
            <span toggle="#confirm-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div>
        </div>
        <div class="form-footer">
          <button type="submit" class="confirm-btn" id="submit-btn">Confirm Password</button>
          <a href="#" onclick="goBack()" class="confirm-btn">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Success Pop-Up -->
<div id="successPopup" class="popup-message">
  <div class="flex-pops">
    <span id="successPopupMessage" class="span-popup"></span>
    <button id="successPopupCloseButton" class="pop-up-close-button">Close</button>
  </div>
</div>

<!-- Error Pop-Up -->
<div id="errorPopup" class="popup-message error">
  <div class="flex-pops">
    <span id="errorPopupMessage" class="span-popup"></span>
    <button id="errorPopupCloseButton" class="pop-up-close-button">Close</button>
  </div>
</div>

<script>
  function goBack() {
    window.history.back();
    return false; // Prevent default link behavior
  }

  document.addEventListener("DOMContentLoaded", function() {
    $(".toggle-password").click(function() {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });

    document.getElementById("passwordChangeForm").addEventListener("submit", function(event) {
      event.preventDefault();
      const oldPassword = document.getElementById("old-password-field").value;
      const newPassword = document.getElementById("password-field").value;
      const confirmPassword = document.getElementById("confirm-password-field").value;

      if (newPassword !== confirmPassword) {
        showErrorPopup("Passwords do not match.");
        return;
      }

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      fetch("{% url 'settings_reset_password_action' %}", {
        method: "POST",
        headers: {
          "X-CSRFToken": csrftoken,
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          old_password: oldPassword,
          new_password1: newPassword,
          new_password2: confirmPassword
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          showSuccessPopup("Password changed successfully.");
        } else {
          showErrorPopup(parseErrors(data.errors));
        }
      })
      .catch(error => {
        console.error('Error:', error);
        showErrorPopup("An error occurred. Please try again.");
      });
    });

    document.getElementById("successPopupCloseButton").addEventListener("click", function() {
      document.getElementById("successPopup").style.display = "none";
    });

    document.getElementById("errorPopupCloseButton").addEventListener("click", function() {
      document.getElementById("errorPopup").style.display = "none";
    });

    function showSuccessPopup(message) {
      const successPopup = document.getElementById("successPopup");
      document.getElementById("successPopupMessage").innerText = message;
      successPopup.style.display = "block";
    }

    function showErrorPopup(message) {
      const errorPopup = document.getElementById("errorPopup");
      document.getElementById("errorPopupMessage").innerHTML = message;
      errorPopup.style.display = "block";
    }

    function parseErrors(errors) {
      const parsedErrors = [];
      try {
        const errorObj = JSON.parse(errors);
        for (const key in errorObj) {
          if (errorObj.hasOwnProperty(key)) {
            errorObj[key].forEach(error => {
              parsedErrors.push(truncateMessage(error.message));
            });
          }
        }
      } catch (e) {
        parsedErrors.push("An error occurred. Please try again.");
      }
      return parsedErrors.join('<br>');
    }

    function truncateMessage(message) {
      const words = message.split(' ');
      if (words.length > 9) {
        return words.slice(0, 9).join(' ') + '...';
      }
      return message;
    }
  });
</script>


{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
<script>
  function goBack() {
    window.history.back();
    return false; // Prevent default link behavior
  }
  </script>
{% endblock scripts %}
