{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/settingsResetPassword.css" %}">

{% block title %}<title>Reset Password</title>{% endblock title %}

{% endblock head %}

{% block header %}
{% include "components/navbar.html" %}

{% endblock header %}

{% block main %}

    <div class="main">
      <div class="form">
        <div class="form-header">
          <span class="h1-text">Login & Security</span>
          <span class="p-text"
            >Updating a password using the old password involves changing the
            existing password without additional verification, providing a
            convenient method for users while emphasizing the importance of
            maintaining the security of the old password.</span
          >
        </div>
        <div class="form-body">
          <div class="field">
            <label for="old-password">Old Password</label>
            <div class="password-field">
              <input type="password" id="old-password-field" name="old-password" placeholder="Enter your old password" />
              <span toggle="#old-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
          </div>
          <div class="field">
            <label for="new-password">New Password</label>
            <div class="password-field">
              <input type="password" id="password-field" name="new-password" placeholder="Enter your new password" />
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
          </div>
          <div class="field">
            <label for="confirm-password">Confirm Password</label>
            <div class="password-field">
              <input
                type="password"
                id="confirm-password-field"
                name="confirm-password"
                placeholder="Confirm your password"
              />
              <span toggle="#confirm-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
          </div>
        </div>
        <div class="form-footer">
          <button class="confirm-btn">Confirm Password</button>
          <a href="#" onclick="goBack()" class="confirm-btn">Cancel</a>
        </div>

    </div>
    <script>
      function goBack() {
        window.history.back();
        return false; // Prevent default link behavior
      }
      $(".toggle-password").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      });
      </script>
{% endblock main %}

{% block footer %}{% endblock footer %}

{% block sctipts %}
{% endblock sctipts %}