{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/verification.css" %}">

{% endblock head %}
{% block main %}

<div class="login-wrapper">
  <div class="left-box">
      <div class="escape-matrix-wrapper">
        <div class="maps-background">
          <img src="{% static "assets/mapbase.svg" %}" alt="escape-matrix" />
        </div>
          <h1>Escape the matrix</h1> 
          <h6>Join us now and be one of the top G'S</h6>
        </div>
  </div>
  <div class="right-box">
    <div class="verification-wrapper">
      <h1>Check Your Inbox</h1>
      <p>
        we have sent you a link to : <br/>
        {{ user.email }}
      </p>
      <img src="{% static "assets/inbox.svg" %}" alt="inbox-icon" class="verification__img"/>
      <p id="countdown">
        Link expires in 5 minutes
      </p>
  </div>
</div>


{% endblock main %}

{% block scripts %}
<script>
  // Set the time we're counting down to
  var countDownDate = new Date().getTime() + 5 * 60000; // 5 minutes from now

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for minutes and seconds
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="countdown"
    document.getElementById("countdown").innerHTML = "Link expires in " + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text 
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "Link has expired.";
    }
  }, 1000);
</script>
{% endblock scripts %}