@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--body-bg: #201654;
	--body-color: #fff;
	--font: "Poppins", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	color: var(--body-color);
	background-color: var(--body-bg);
	font-family: var(--font);
}

main {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.h1-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.dot-btn {
	cursor: pointer;
	border: transparent;
	border-radius: 50%;
	background-color: #dcdcdc;
	height: 8px;
	width: 8px;
}

.items-container {
	border-radius: 10px;
	border: 0.5px solid #fff;
	background: rgba(73, 73, 73, 0.12);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	height: fit-content;
	padding: 2rem;
}

.items-list {
	height: 90vh;
	overflow-y: scroll;
}

.items-list::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0;
}

.order-details,
.order-total {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	gap: 10px;
}

.item-container {
	display: flex;
	width: 613px;
	height: 209px;
	border-radius: 8px;
	background: rgba(173, 171, 171, 0.05);
	margin: auto 1rem;
	margin-top: 16px;
	margin-bottom: 10px;
}

.item-description {
	display: flex;
	align-items: center;
	width: 85%;
}

.item-description>img {
	width: 203px;
	height: 171px;
}

.item-recap {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	height: 80%;
}

.item-recap>.h1-text {
	color: #f5f5f5;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	/* 96% */
	margin-bottom: 15px;
}

.item-size,
.item-color {
	color: #bdc4cd;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 275;
	line-height: 24px;
	/* 171.429% */
}

.item-size>.p-text,
.item-color>.p-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 275;
	line-height: 24px;
	/* 171.429% */
}

.item-price {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.item-price>.h1-text {
	font-size: 27px;
	font-style: italic;
	font-weight: 700;
	color: #5cff9c;
}

.greener {
	color: #5cff9c;
}

.total>.p-text {
	font-weight: 600;
}

.order {
	display: flex;
	width: 15rem;
	height: fit-content;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	border-radius: 10px;
	border: 0.5px solid #fff;
	background: rgba(73, 73, 73, 0.12);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	margin-top: 2.2rem;
}

.order-details>.h1-text {
	align-self: stretch;
	color: #ededed;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	/* 133.333% */
}

.order-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

.price,
.discount,
.shipping,
.coupon,
.total,
.delivery {
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.order-total>input {
	display: flex;
	color: #fff;
	font-size: 15px;
	height: 52px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	align-self: stretch;
	border-radius: 4px;
	background: transparent;
	border: 1px solid #a2a3b1;
	padding-left: 1rem;
}

.order-total>.btn {
	display: flex;
	font-family: "Poppins", sans-serif;
	color: #fff;
	font-size: 15px;
	padding: 13px 40px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	align-self: stretch;
	border-radius: 4px;
	background: linear-gradient(309deg, #b319ff5e -18.01%, #ff004f 142.51%);
	border: none;
	text-decoration: none;
	margin-top: 2%;
}

.shopping-cart>.h1-text {
	margin-bottom: 1rem;
}

.place-order {
	font-weight: 200;
	font-size: small;
}

.items-container>.Title {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 4px;
}

.items-container>form label {
	color: #fff;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.items-container>form input {
	display: flex;
	color: #fff;
	font-size: 15px;
	height: 52px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	align-self: stretch;
	border-radius: 4px;
	background: transparent;
	border: 1px solid #a2a3b1;
	padding-left: 1rem;
}

.items-container>form .input-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	margin-top: 12px;
}

.items-container>form div {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 20px;
}

.delivery-container {
	border-radius: 10px;
	border: 0.5px solid #fff;
	background: rgba(73, 73, 73, 0.12);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	height: fit-content;
	padding: 2rem;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.delivery-container>.Title {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.payment-method .payment {
	border-radius: 10px;
	border: 1px solid #ff004f;
	background: rgba(73, 73, 73, 0.12);

	color: white;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	width: 50%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}

.payment-method .payment>label {
	margin-right: auto;
	font-size: 16px !important;
}

span.p-text {
	font-size: medium;
}

@media only screen and (max-width: 768px) {
	main {
		flex-direction: column;
		padding: 10px;
	}

	.items-container>form div {
		flex-direction: column;
	}

	.item-container {
		width: auto;
		flex-direction: column;
		height: auto;
		justify-content: center;
	}

	.order {
		width: auto;
	}

	.price,
	.discount,
	.shipping,
	.coupon,
	.total,
	.delivery {
		width: 100%;
	}

	.item-description {
		display: flex;
		align-items: center;
		width: 100%;
		flex-direction: column;
		gap: 10px;
	}

	.item-price {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

	.payment-method .payment {
		width: 100%;
	}
}

@media screen and (max-width: 1440px) {
	.shopping-cart {
		width: 50%;
	}

	.order {
		width: 14rem;
		padding: 25px;
		margin-top:2.5rem;
	}

	.items-container>form input {
		font-size: 12px;
		height: 38px;
	}

	.order-total>.btn {
		font-size: 14px;
		padding: 10px 40px;
	}

	.place-order {
		font-size: 12px !important;
	}

	.order-details>.h1-text {
		font-size: 22px;
	}

	.items-container {
		padding: 1.5rem;
	}

	.delivery-container {
		padding: 1.5rem;
	}

	.delivery-container>.Title {
		font-size: 18px;
	}

	.payment-method .payment>label {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 1024px) {
	.items-container>form input {
		width: 100%;
	}
	.order {
		width: 14rem;
		padding: 25px;
		margin-top:2.5rem;
	}
}



@media screen and (max-width: 768px) {
	.items-container>form input {
		font-size: 12px;
		height: 38px;
	}

	.order-total>.btn {
		font-size: 14px;
		padding: 10px 40px;
	}

	.place-order {
		font-size: 12px !important;
	}

	.order-details>.h1-text {
		font-size: 22px;
	}

	.items-container {
		padding: 1.5rem;
	}

	.delivery-container {
		padding: 1.5rem;
	}

	.delivery-container>.Title {
		font-size: 18px;
	}

	.payment-method .payment>label {
		font-size: 15px !important;
	}
	.order {
		width: 14rem;
		padding: 25px;
		margin-top:0rem;
	}
}



/* Animation */
@keyframes spin {
	0% {
		transform: rotate(-0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}


@media screen and (max-width: 1024px) {
	main {
		height: 100vh;
	}
}

@media screen and (max-width: 768px) {
	main {
		height: auto;
	}

	.shopping-cart {
		width: 100%;
	}

	.order {
		width: 100%;
	}

}