@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: auto auto; */
  padding-bottom: 1rem;
  padding: 1rem;
  gap: 20px;
}
.contact-us > .h1-text{
  color: #F5F5F5;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 114%; /* 57px */
  letter-spacing: 1px;
}
.wrap-all-contact{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.contact-us > .p-text{
  color: #F5F5F5;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wrapper > .left-container {
   width: 450px;
  height: 630px;
  flex-shrink: 0;
  background: url('../assets/containerBg.svg') no-repeat;
  background-size: cover;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-container > .container-header {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.container-header > .h1-text {
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container-header > .p-text {
  color: #c9c9c9;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.left-container > .container-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 5px solid white; */
  gap: 30px;
}

.container-body > .info {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 60%;
  gap: 20px;
}

.info > .p-text {
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  display: flex;
  width: 65%;
  flex-shrink: 0;
  background: rgb(15 11 29);
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  padding: 1rem;
  border-radius: 18px;
  /* height: 667px; */
  /* margin: 0 auto;*/
}

.wrapper > .right-container {
  padding: 20px;
  width: 100%;
}

.layout > .input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  align-content: space-between;
}

.input-wrapper > .field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 49%;
  padding-bottom: 2rem;
}

.field > label {
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.field > input {
  display: flex;
  height: 38px;
  padding: 8px 24px;
  align-items: center;
  gap: 7.11px;
  border-radius: 12px;
  border: 0.889px solid #bdc4cd;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;


}
.field > input::placeholder {
  font-size: 15px;
}

.layout > .select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20%;
}

.select-wrapper > .checkbox-wrapper {
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-wrapper > .h1-text {
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.checkbox-wrapper > .checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-field > input {
  appearance: none;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  position: relative;
  width: 20px;
}

.checkbox-field > input:checked {
  background-color: #814caf;
  border-color: #814caf;
}

.checkbox-field > input:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 0, 80% 0, 43% 62%);
}

.checkbox-field > label {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer; /* Change the cursor to a pointer when hovering over the label */
}

/* Add some hover and focus effects for better accessibility and user experience */
.checkbox-field > input:hover {
  border-color: #bbb;
}

.checkbox-field > input:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(76, 175, 80, 0.4);
}


.right-container > .message-wrapper {
  width: 92%;
}

.message-wrapper > .message-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin: 6% 0 0 0; */
}
.social-media {

}

.social-media div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-media div:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.social-media img {

  transition: filter 0.3s ease;
}

.social-media img:hover {
  filter: brightness(1.2);
}

.message-field > label {
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.message-field > input {
  display: flex;
  height: 100px;
  padding: 5px 25px;
  align-items: center;
  gap: 7.11px;
  border-radius: 12px;
  border: 0.889px solid #bdc4cd;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.message-field > input::placeholder {
  font-size: 15px;
}

.message-field > .submit-btn {
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 7.11px;
  align-self: stretch;
  border-radius: 8px;
  background: #a45cf6;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.right-container > .layout {
  width: 100%;
  gap: 20px !important;
  height: 95%;
}
.social-media{
  
display: flex;
  
flex-direction: row;
  
gap: 20px;
  
align-items: center;
}
@media screen and (max-width: 1440PX) {
  .wrapper{
    width: 85%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper{
    width: 90%;
  }
  .wrapper > .left-container{
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  body{
    height: 100%;
  }
  .wrapper{
    flex-direction: column;
  }
  .wrapper > .left-container {
    width: auto;
    height: auto;
  }
  .wrapper > .right-container{
    padding: 2rem 0;
  }
  .input-wrapper > .field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* margin-bottom: 35px; */
    width: -webkit-fill-available;
  }
  .contact-us > .p-text{
    font-size: medium;
  }
  .contact-us > .h1-text {
    color: #F5F5F5;
    text-align: center;
    font-size: xx-large;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
    letter-spacing: 1px;
  }
  .select-wrapper > .checkbox-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: 10px 0;
  }
}