:root {
	--background-image: url(../assets/landingPageBg.png);
	--color-primary: #a45cf6;
	--color-secondary: #1890ff;
	--color-text: #f5f5f5;
	--color-text-secondary: #7c7a85;
	--color-button-bg: linear-gradient(104deg, #9747ff 12.89%, #1890ff 133.86%);
	--color-button-border: #a45cf6;
	--color-button-text: #fff;
	--color-title-shadow: rgba(164, 92, 246, 0.5);
	--color-title-shadow-strong: rgb(164 92 246);
	--color-bg-container: rgba(73, 73, 73, 0.12);
	--color-bg-hover: rgba(39, 37, 37, 0.12);
	--color-border: rgba(255, 255, 255, 0.5);
	--color-bg-modal: linear-gradient(45deg, black, #6e30f5c7);
	--color-li: #ffc233;

  }
  
  [data-theme="light"] {
	--background-image: url(../assets/landingPageBgLight.png);
	--color-primary: #60309b;
	--color-secondary: #9747ff;
	--color-text: #361b3e;
	--color-text-secondary: #232323;
	--color-button-bg: linear-gradient(104deg, #1890ff 12.89%, #9747ff 133.86%);
	--color-button-border: #5d3298;
	--color-button-text: #000;
	--color-title-shadow: rgba(24, 144, 255, 0.5);
	--color-title-shadow-strong: rgb(24, 144, 255);
	--color-bg-container: rgba(200, 200, 200, 0.12);
	--color-bg-hover: rgba(180, 180, 180, 0.12);
	--color-border: rgba(0, 0, 0, 0.5);
	--color-bg-modal: linear-gradient(45deg, white, #d0d0d0c7);
	--color-li: #60309b;

  }
  
  .main {
	background: var(--background-image) no-repeat;
	background-size: cover;
	background-position: top;
	scroll-behavior: smooth;
	overflow-x: hidden;
  }
  
  .div-center-navbar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 10px;
  }
  
  .navbar {
	display: none;
  }
  
  .list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: max-content;
	color: var(--color-text);
	text-align: center;
	font-family: Poppins;
	font-size: 22px;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0.88px;
	list-style: none;
  }
  
  .header-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16%;
  }
  
  .logo {
	/* flex-shrink: 0; */
	display: flex;
	justify-content: center;
	align-content: center;
  }
  
  .logo img {
	width: 92%;
  }
  
  .navbar-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 22px;
  }
  
  .btn {
	padding: 10px 25px;
  }
  
  .btn-login {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	border: 1px solid var(--color-button-border);
	color: var(--color-button-border);
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	background: transparent;
  }
  
  .btn-signup {
	background: var(--color-button-bg) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	color: var(--color-button-text);
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	width: max-content;
  }
  
  .links-aa {
	text-decoration: none;
  }
  
  .navbar-list .links-aa {
	cursor: pointer;
	text-decoration: none;
  }
  
  .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
  }
  
  .title-container {
	padding: 50px 20px;
	gap: 34px;
	text-align: center;
  }
  
  .title span:nth-child(1) {
	color: var(--color-text);
	text-align: center;
	text-shadow: 0px 0px 54.8px var(--color-title-shadow);
	font-size: 70px;
	font-weight: 700;
	line-height: 114%;
	letter-spacing: 1.4px;
  }
  
  .title span:nth-child(3) {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 70px;
	font-weight: 700;
	line-height: 114%;
	letter-spacing: 1.4px;
	text-shadow: 0px 0px 98px var(--color-title-shadow-strong);
  }
  
  .description {
	color: var(--color-text);
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 147%;
	letter-spacing: 3.74px;
  }
  
  .vid-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-width: 50%;
	max-height: 100%;
	margin: auto;
  }
  
  .center-video {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
  }
  
  .frame-video {
	width: 586px;
	height: 336px;
	border: 3px solid var(--color-primary);
	border-radius: 32px;
	box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .academy-titles {
	display: flex;
	flex-direction: column;
  }
  
  .academy-container {
	padding-top: 115px;
  }
  
  .academy-container .h1-text {
	color: var(--color-primary);
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
  }
  
  .academy-container .h2-text {
	color: var(--color-text);
	text-align: center;
	font-size: 43px;
	font-weight: 275;
	line-height: 60px;
  }
  
  .academy-container .p-text {
	color: var(--color-text-secondary);
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
  }
  
  .courses-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	flex-wrap: wrap;
	padding: 50px;
	transition: all 1s ease-in-out;
  }
  
  .details {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .cr-container {
	display: flex;
	width: 480px;
	padding-top: 20px;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 12px;
	border: 1px solid var(--color-border);
	background: var(--color-bg-container);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
  }
  
  .cr-container:hover {
	cursor: pointer;
	background: var(--color-bg-hover);
	border: 2px solid rgba(167, 61, 233, 0.5);
	transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
  }
  
  .not-allowed {
	cursor: not-allowed !important;
	filter: brightness(0.5);
  }
  
  .not-allowed:hover {
	border: 1px solid var(--color-border);
	background: var(--color-bg-container);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
  }
  
  .cr-container .h2-text {
	color: var(--color-text);
	text-align: start;
	font-size: 40px;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -2px;
	text-transform: capitalize;
  }
  
  .cr-content {
	display: flex;
	padding: 0px 53px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	gap: 10px;
  }
  
  .cr-container .p-text {
	color: var(--color-text);
	text-align: start;
	font-size: 18px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -0.36px;
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  a {
	text-decoration: none;
  }
  
  .knowleadge-container {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: auto;
	align-items: center;
  }
  
  .knowleadge-content {
	display: flex;
	flex-direction: column;
	gap: 60px;
	max-width: 900px;
	text-align: center;
	align-items: flex-start;
  }
  
  .center-join-student-text {
	display: flex;
	justify-content: center;
  }
  
  .details-title {
	display: flex;
	align-items: flex-start;
	gap: 71px;
	align-self: stretch;
  }
  
  .details-title span:nth-child(1) {
	color: var(--color-text);
	font-size: 40px;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -2px;
	text-transform: capitalize;
  }
  
  .details-title span {
	color: var(--color-primary);
	font-size: 40px;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -2px;
	text-transform: capitalize;
  }
  
  .details-container {
	display: flex;
	padding-top: 62px;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	border-radius: inherit;
	border: 1px solid var(--color-border);
	background: var(--color-bg-container);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	width: 68%;
	padding: 50px;
  }
  
  .details-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .details-content {
	display: flex;
	justify-content: space-between;
  }
  
  .details-access {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  .details-access p:nth-child(1) {
	color: var(--color-text-secondary);

	font-size: 24px;
	font-weight: 600;
	text-transform: capitalize;
  }
  
  .details-access p:nth-child(2) {
	color: var(--color-text-secondary);

	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	text-align: start;
	width: 90%;
  }
  
  .details-features {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  .details-features .p-text {
	color: var(--color-text-secondary);

	font-size: 24px;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -2px;
	text-transform: capitalize;
	margin: 0;
	text-align: left;
  }
  
  .details-button {
	width: 229px;
	height: 50px;
	padding: 17px, 38px, 17px, 38px;
	border-radius: 6px;
	gap: 21px;
	background-color: var(--color-primary);
	text-align: center;
	color: var(--color-button-text);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .details-button:hover {
	cursor: pointer;
  }
  
  .details-button span {
	color: var(--color-button-text);
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 100%;
	text-transform: capitalize;
  }
  
  .details-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
  }
  
  .students {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
  }
  
  .students span {
	color: var(--color-text);
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
  }
  
  .starImg {
	position: absolute;
	top: 20%;
	right: 17%;
	max-width: 240px;
	max-height: 271px;
  }
  
  .knowleadge-content .yellow-spans {
	color: var(--color-li);
	font-size: 18px;
	font-weight: 500;
	line-height: 22.4px;
	letter-spacing: 3px;
	text-transform: uppercase;
  }
  
  .h-one {
	color: var(--color-text);
	font-family: Poppins;
	font-size: 35px;
	font-weight: 400;
	line-height: 63.84px;
	letter-spacing: -1.68px;
	max-width: 70%;
	text-align: left;
  }
  
  .cr-images {
	display: flex;
  }
  
  .btn-get-started {
	border-radius: 40px;
	border: 1px solid var(--color-primary);
	background: transparent;
	color: var(--color-text);
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22.4px;
	letter-spacing: -0.16px;
	display: flex;
	padding: 16px 63.67px 15.39px 63px;
	justify-content: center;
	align-items: center;
	gap: 6px;
  }
  
  .getStarted-content {
	display: flex;
	flex-direction: row;
	gap: 20px;
  }
  
  .getStarted-content>.students span {
	color: var(--color-text);
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0;
	text-transform: none;
  }
  
  .details-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .knowleadge-wrapper {
	padding: 3rem 2rem;
  }
  
  .feedbacks-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem 0;
	align-items: flex-end;
	width: 70%;
  }
  
  .h-two-feedbacks {
	color: var(--color-primary);
	font-family: Poppins;
	font-size: 50px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -1.56px;
	width: 717px;
	height: 178px;
	flex-shrink: 0;
  }
  
  .scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: linear-gradient(100deg, #260FB8 -36.4%, #9747FF 131.27%);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
  }
  
  .scroll-to-top.show {
	opacity: 1;
	visibility: visible;
  }
  
  .scroll-to-top:hover {
	background-color: #e67e22;
  }
  
  .scroll-to-top i {
	width: 24px;
	height: 24px;
	color: #fff;
  }
  
  .scroll-to-top-img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #ec1515;
  }
  
  .feedback-prgph {
	width: 706px;
	color: var(--color-text);
	font-size: 16px;
	font-weight: 400;
	line-height: 241%;
	letter-spacing: 2.145px;
	text-align: left;
  }
  
  .feedbacks-container {
	display: flex;
	justify-content: space-between;
	width: 90%;
  }
  
  .feedback-img {
	position: absolute;
	width: 722px;
	height: 484px;
	transition: left 0.5s ease, right 0.5s ease, bottom 0.5s ease, opacity 0.5s ease;
	opacity: 0;
  }
  
  .feedback-img.visible {
	opacity: 1;
  }
  
  .feedback-img:nth-child(1) {
	bottom: 0%;
	left: 0%;
	z-index: 2;
  }
  
  .feedback-img:nth-child(2) {
	bottom: 12%;
	right: 68%;
	z-index: 1;
  }
  
  .feedback-img:nth-child(3) {
	left: 5%;
	right: 64%;
	z-index: 0;
  }
  
  .sliderContainer {
	overflow: hidden;
	width: 100%;
  }
  
  .slider {
	display: flex;
	transition: transform 1s ease-in-out;
  }
  
  .sliderImage {
	width: 100%;
	height: 100%;
	padding: 13px 13px;
	max-height: 350px;
  }
  
  .carousel-wrapper {
	padding: 1rem 0;
	text-align: center;
  }
  
  .carousel-title {
	color: var(--color-text);
	font-size: 50px;
	font-weight: 275;
	line-height: normal;
	text-transform: capitalize;
	padding: 2rem;
  }
  
  .carousel-title span {
	color: var(--color-text);
	font-size: 50px;
	font-weight: 800;
	line-height: normal;
	text-transform: capitalize;
	position: relative;
  }
  
  .carousel-title span img {
	position: absolute;
	left: 0;
	top: 50px;
  }
  
  .ordonothing-container {
	width: 100%;
	background: url("../assets/netflixicons.svg") no-repeat;
	background-size: 100% 413px;
	text-align: center;
  }
  
  .ordonothing-content {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	justify-content: center;
	padding: 7rem;
  }
  
  .ordonothing-content span:nth-child(1) {
	color: var(--color-text);
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: var(--color-primary);
	font-size: 70px;
	font-weight: 800;
	line-height: 172%;
  }
  
  .ordonothing-content span:nth-child(2) {
	color: var(--color-text);
	font-size: 35px;
	font-weight: 300;
	line-height: 172%;
  }
  
  .details-features>p>svg {
	color: var(--color-primary);
  }
  
  .loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(325.78% 172.71% at 109.69% 123.93%, #201654 1.34%, #120747 100%),
	  radial-gradient(325.78% 172.71% at 109.69% 123.93%, #08041c 1.34%, #000 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  #loader {
	display: none;
  }
  
  .pl {
	display: block;
	width: 6.25em;
	height: 6.25em;
  }
  
  .pl__ring,
  .pl__ball {
	animation: ring 2s ease-out infinite;
  }
  
  .pl__ball {
	animation-name: ball;
  }
  
  .fade-out {
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
  }
  
  .animate-charcter {
	text-transform: uppercase;
	background-image: linear-gradient(-225deg, #a45cf6 0%, #44107a 29%, #ff1361 67%, #a45cf6 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 7s linear infinite;
	display: inline-block;
	font-size: 190px;
  }
  
  .footer {
	background: black;
	text-align: center;
	padding-top: 1rem;
	position: relative;
	overflow: hidden;
  }
  
  .footer span {
	color: white;

	text-align: center;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2.8px;
	text-transform: uppercase;
  }
  
  .footer span:nth-child(2) {
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
  }
  
  .footer span:nth-child(3) {
	color: white;

	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 33px;
  }
  
  .footer .btn-footer {
	border-radius: 30px;
	border: 0px solid var(--color-text);
	background: var(--color-primary);
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.11);
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	width: fit-content;
	align-self: center;
  }
  
  .footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding-bottom: 1rem;
  }
  
  .footer hr {
	border-color: #494949;
	width: 80%;
	margin: 0 auto;
  }
  
  .sub-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;
  }
  
  .footer-links {
	display: flex;
	gap: 3rem;
	list-style: none;
	width: 50%;
	justify-content: center;
	color: white;

	font-size: 16px;
	font-weight: 400;
  }
  
  .footer-link>a {
	color: white;

  }
  
  .footer-socials {
	display: flex;
	flex-direction: row;
	width: 10%;
	align-items: center;
	gap: 10px;
	justify-content: center;
  }
  
  .footer-asset {
	color: transparent;
	position: absolute;
	bottom: 0;
	transform: rotate(154deg);
	right: -190px;
	width: 400px;
	height: 400px;
  }
  
  .social-icon {
	width: 40px;
	color: white;
	align-self: center;
	display: flex;
  }
  
  .support-container {
	border: 1px solid var(--color-border);
	background: var(--color-bg-container);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	margin: 1rem 4rem;
	border-radius: 10px;
	padding: 1rem 2rem;
  }
  
  .support-container>.title {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;
  }
  
  .support-container>.title>.h1-text {
	font-size: large;
	font-weight: 700;
	color: #8b8b8b;
  }
  
  .support-container>.title>.h2-text {
	font-size: 25px;
	font-weight: 700;
	color: var(--color-text);
  }
  
  .support-container>.title>.p-text {
	font-size: medium;
	font-weight: 500;
	color: var(--color-text);
	-webkit-text-fill-color: #666363;
  }
  
  .support-boxes {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding-top: 1rem;
  }
  
  .support-boxes>.support-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
	border-radius: 8px;
	background: var(--color-bg-container);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	gap: 1rem;
  }
  
  .support-boxes>.support-box>.icon {
	font-size: 1rem;
	color: var(--color-text);
  }
  
  .support-boxes>.support-box>.content {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	gap: 5px;
	text-align: start;
  }
  
  .support-boxes>.support-box .h2-text {
	font-size: large;
	font-weight: 700;
	color: var(--color-text);
  }
  
  .support-boxes>.support-box .p-text {
	font-size: 14px;
	font-weight: 400;
	color: var(--color-text-secondary);
  }
  
  .support-boxes>.support-box>.icon>svg {
	width: 40px;
	height: 40px;
	color: white;
  }
  
  .support-boxes>.support-box:hover {
	background: linear-gradient(300deg, #7c11f72b 0%, rgba(65, 196, 195, 0) 100%);
  }
  
  .loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(325.78% 172.71% at 109.69% 123.93%, #201654 1.34%, #120747 100%),
	  radial-gradient(325.78% 172.71% at 109.69% 123.93%, #08041c 1.34%, #000 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  #loader {
	display: none;
  }
  
  .pl {
	display: block;
	width: 6.25em;
	height: 6.25em;
  }
  
  .pl__ring,
  .pl__ball {
	animation: ring 2s ease-out infinite;
  }
  
  .pl__ball {
	animation-name: ball;
  }
  
  .details-features>span {
	color: var(--color-text);
  }
  
  .details-features>span>svg {
	color: var(--color-primary);
  }
  
  .fade-out {
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
  }
  
  .animate-charcter {
	text-transform: uppercase;
	background-image: linear-gradient(-225deg, #a45cf6 0%, #44107a 29%, #ff1361 67%, #a45cf6 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 7s linear infinite;
	display: inline-block;
	font-size: 190px;
  }
  
  .profile-b {
	position: relative;
  }
  
  .notification>.menu {
	position: absolute;
	top: 118% !important;
	right: -8% !important;
	width: 375px;
	border-radius: 6px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s, transform 0.3s;
	transform-origin: top right;
	transform: scaleY(0);
	z-index: 10;
	background: var(--color-bg-modal);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
  }
  
  .messages>.menu {
	position: absolute;
	top: 118% !important;
	right: -8% !important;
	width: 375px;
	border-radius: 6px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s, transform 0.3s;
	transform-origin: top right;
	transform: scaleY(0);
	z-index: 10;
	background: var(--color-bg-modal);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
  }
  
  .goBack {
	background: transparent;
	border: none;
	color: white;
	font-size: large;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
  }
  
  .goBack:hover {
	color: var(--color-primary);
  }
  





/* Adjustments for smaller screens */
@media (max-width: 600px) {
	.starImg {
		top: 5rem;
		right: 5rem;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue), 10%, 10%);
		--fg: hsl(var(--hue), 10%, 90%);
	}
}
@media screen and (max-width: 1490px) {
	.starImg {
		/* Adjust styles to maintain the position */
		top: 18%;
		right: 3%;
	}
}
@media screen and (max-width: 1300px) {
	.starImg {
		/* Adjust styles to maintain the position */
		display: none;
	}

	.header-navbar .navbar-list {
		display: flex;
		flex-direction: row;
		gap: 10%;
		width: 40%;
		justify-content: center;
	}

	.navbar-list .list {
		font-size: 12px;
	}
}
@media all and (max-width: 1300px) {
	.btn {
		padding: 7px 20px;
	}

	.btn-login {
		font-size: 7px;
	}

	.btn-signup {
		font-size: 7px;
	}

	.header-navbar {
		gap: 13%;
	}

	.header-navbar .navbar-list {
		gap: 0%;
		width: 25%;
	}

	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding-left: 10px;
	}

	.list {
		font-size: 12px;
	}
}
@media screen and (max-width: 1440px) {
	.feedbacks-container {
		display: none;
	}

	.list {
		font-size: 18px;
	}

	.btn-login,
	.btn-signup {
		font-size: 16px;
	}

	.title span:nth-child(1) {
		font-size: 42px;
	}

	.title span:nth-child(3) {
		font-size: 50px;
	}

	.description {
		font-size: 13px;
	}

	.cr-container {
		width: 400px;
	}

	.cr-content {
		padding: 0px 30px;
	}

	.ordonothing-content span:nth-child(1) {
		font-size: 50px;
	}

	.ordonothing-content span:nth-child(2) {
		font-size: 21px;
	}

	.footer span:nth-child(2) {
		font-size: 33px;
	}

	.footer span:nth-child(3) {
		font-size: 16px;
		line-height: 0px;
	}

	.sliderImage {
		width: 100%;
		height: 215px;
		padding: 0.9rem;
	}
}
@media screen and (max-width: 767px) {
	body {
		width: 100%;
	}

	.landing {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto auto;
		overflow-x: hidden;
		max-width: 100%;
	}

	.div-center-navbar {
		display: none;
	}

	.title-container {
		width: 100%;
		padding: 50px 0;
	}

	.title span:nth-child(1) {
		font-size: 33px;
	}

	.title span:nth-child(3) {
		font-size: 32px;
	}

	.description {
		font-size: 13px;
		width: 90%;
		margin: auto;
		margin-top: 10px;
	}

	.academy-titles {
		width: 90%;
		margin: auto;
	}

	.academy-titles .h1-text {
		font-size: 32px;
	}

	.h-one {
		margin-top: -50px;
	}

	.academy-titles .h2-text {
		font-size: 28px;
		/* margin-top: 32px; */
	}

	.academy-titles .p-text {
		font-size: 18px;
	}

	.frame-video {
		border: 1px solid #9747ff;
		border-radius: 13px;
		box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05),
			0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}

	.courses-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: auto auto;
	}

	.students {
		margin-top: 20px;
	}

	.knowleadge-images>.cr-images>img {
		/* margin: auto auto; */
		width: 75%;
		margin: 0 auto;
		/* padding: 0 0 0 0; */
		/* margin: 0 0 0 0; */
	}

	.courses-container>.cr-container>.cr-images>img {
		width: 100%;
		height: 100%;
	}

	.cr-container {
		display: flex;
		padding-top: 20px;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		background: rgba(73, 73, 73, 0.12);
		box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(6px);
		width: 100%;
		margin: auto auto;
	}

	.knowleadge-content {
		align-items: center;
	}

	.cr-content {
		display: flex;
		padding: 0px 35px;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
	}

	.cr-container .p-text {
		color: #fff;
		text-align: start;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: -0.36px;
		display: flex;
	}

	.feedbacks-container {
		display: none;
	}

	.knowleadge-wrapper {
		padding: 5rem 0;
	}

	.getStarted-content {
		flex-direction: column;
	}

	.knowleadge-container {
		flex-direction: column;
	}

	.carousel-title {
		font-size: 26px;
	}

	.carousel-title span {
		font-size: 100%;
	}

	.carousel-title span img {
		position: absolute;
		left: 0;
		top: 40px;
		width: 90%;
	}

	.sliderImage {
		width: 90%;
		height: 267px;
		padding: 2rem 13px;
	}

	.ordonothing-content span:nth-child(1) {
		font-size: 42px;
	}

	.ordonothing-content span:nth-child(2) {
		font-size: 21px;
	}

	.sub-footer {
		flex-direction: column;
	}

	.container {
		margin: auto;
	}

	.navbar {
		width: 100%;
		box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
		display: block;
	}

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 62px;
		width: 100%;
	}

	.navbar .menu-items {
		display: flex;
	}

	.navbar .nav-container li {
		list-style: none;
	}

	.navbar .nav-container a {
		text-decoration: none;
		color: var(--WHITE-C);
		font-weight: 500;
		font-size: 1.2rem;
		padding: 0.7rem;
	}

	.navbar .nav-container a:hover {
		font-weight: bolder;
	}

	.nav-container {
		display: block;
		position: relative;
		height: 60px;
	}

	.nav-container .checkbox {
		position: absolute;
		display: block;
		height: 32px;
		width: 32px;
		top: 20px;
		right: 20px;
		z-index: 5;
		opacity: 0;
		cursor: pointer;
		z-index: 3;
	}

	.nav-container .hamburger-lines {
		display: block;
		height: 26px;
		width: 32px;
		position: absolute;
		top: 17px;
		right: 20px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.nav-container .hamburger-lines .line {
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: #ffffff;
	}

	.nav-container .hamburger-lines .line1 {
		transform-origin: 0% 0%;
		transition: transform 0.1s ease-in-out;
	}

	.nav-container .hamburger-lines .line2 {
		transition: transform 0.1s ease-in-out;
	}

	.nav-container .hamburger-lines .line3 {
		transform-origin: 0% 100%;
		transition: transform 0.1s ease-in-out;
	}

	.navbar .menu-items {
		background: rgb(9 9 44);
		padding-top: 120px;
		padding-bottom: 120px;
		height: 100vh;
		width: 100%;
		transform: translate(-150%);
		display: flex;
		flex-direction: column;
		transition: transform 0.5s ease-in-out;
		text-align: center;
	}

	.navbar .menu-items li {
		margin-bottom: 1.2rem;
		font-size: 1.5rem;
		font-weight: 500;
	}

	.navbar .logo {
		position: absolute;
		top: 5px;
		left: 15px;
		font-size: 1.2rem;
		color: #0e2431;
	}

	.nav-container input[type="checkbox"]:checked~.menu-items {
		transform: translateX(0);
		z-index: 1;
		position: fixed;
	}

	.hamburger-lines .line1 {
		transition: transform 0.3s ease, var(--PRIMARY-C) 0.3s ease;
	}

	.hamburger-lines .line2 {
		transition: transform 0.3s ease;
	}

	.hamburger-lines .line3 {
		transition: transform 0.3s ease, var(--PRIMARY-C) 0.3s ease;
	}

	.hamburger-lines.checked .line1 {
		transform: rotate(45deg);
		background: var(--PRIMARY-C) !important;
	}

	.hamburger-lines.checked .line2 {
		transform: scaleY(0);
	}

	.hamburger-lines.checked .line3 {
		transform: rotate(-45deg);
		background: var(--PRIMARY-C) !important;
	}

	.nav-container input[type="checkbox"]:checked~.logo {
		display: none;
	}

	.btn-signup {
		background: linear-gradient(104deg,
				#9747ff 12.89%,
				#1890ff 133.86%) !important;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 6px;
		color: var(--WHITE-C);
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		/* 16px */
		text-transform: capitalize;
		background: transparent;
		width: max-content;
		margin: 0 auto;
		color: var(--WHITE-C) !important;
	}

	.btn-login {
		width: fit-content;
		margin: 0 auto;
	}

	.footer span:nth-child(2) {
		font-size: 30px;
	}

	.footer span:nth-child(3) {
		margin: auto auto;
		width: 70%;
		font-size: 16px;
	}

	.footer-links {
		width: auto;
		/* margin-left: -10%; */
		/* gap: 31px; */
		padding: 20px 0px 20px;
	}

	.vid-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		max-width: 74%;
		max-height: 100%;
		margin: auto;
	}

	.center-video {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.frame-video {
		width: 100%;
		height: 203px;
		border: 3px solid #9747ff;
		border-radius: 32px;
		box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05),
			0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		/* border: 4px solid red; */
	}

	.ordonothing-content {
		padding: 2rem;
	}

	.details-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		gap: 10px;
	}

	.details-content {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.details-access {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/* justify-content: space-around; */
	}

	.details-features>p {
		color: var(--WHITE-C);
	}

	.details-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		flex-direction: column;
		width: 100%;
	}

	.details-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	.details-title>span:nth-child(1) {
		color: var(--WHITE-C);
	}

	.details-title>span:nth-child(2) {
		text-align: center;
		font-size: 29px;
	}

	.details-container {
		width: auto;
		padding: 26px;
	}

	.details {
		margin: 0 10px;
	}
}
@media screen and (max-width: 375px) {
	.vid-container {
		max-width: 90%;
	}
}
@media screen and (max-width: 768px) {
	.cr-container {
		width: 340px !important;
	}

	.feedbacks-container {
		display: none;
	}

	.title span:nth-child(1) {
		font-size: 32px !important;
	}

	.title span:nth-child(3) {
		font-size: 36px !important;
	}

	.h-one {
		font-size: 18px !important;
		line-height: 30px;
		letter-spacing: 2px;
		text-align: center;
	}

	.knowleadge-content .yellow-spans {
		font-size: 18px;
		letter-spacing: 4px;
	}

	.ordonothing-content span:nth-child(1) {
		font-size: 38px !important;
	}

	.ordonothing-content span:nth-child(2) {
		font-size: 22px;
	}

	.footer span:nth-child(2) {
		font-size: 20px !important;
	}

	.footer span:nth-child(3) {
		font-size: 16px;
		line-height: 0px;
	}

	.ordonothing-container {
		width: 100%;
		background: url(../assets/netflixicons.svg) no-repeat;
		background-size: 100%;
		text-align: center;
		/* padding-top: 0px; */
		padding-bottom: 70px;
		margin-top: 10vh;
	}

	.footer span:nth-child(3) {
		font-size: 14px !important;
		line-height: 30px !important;
	}

	.sub-footer {
		padding: 1.5rem 0;
	}

	.footer span {
		font-size: 12px !important;
	}

	.footer span:nth-child(3) {
		font-size: 16px;
		line-height: 0px;
		width: 50%;
	}

	.sliderImage {
		width: 100%;
		height: 285px;
		padding: 1rem 13px;
	}

	.footer span:nth-child(2) {
		font-size: 19px !important;
	}
}
@media screen and (max-width: 1024px) {
	.knowleadge-container {
		flex-direction: column;
	}

	.knowleadge-content {
		max-width: 900px;
		align-items: center;
	}

	.getStarted-content {
		flex-direction: column;
		gap: 20px;
	}

	.nav-container {
		padding-top: 0;
	}

	.cr-images>img {
		width: 100%;
	}

	.div-center-navbar {
		display: none;
	}
}
/**
 * ----------------------------------------
 * animation bounce-left
 * ----------------------------------------
 */
/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}

	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}

	50%,
	to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}

@keyframes ball {

	from,
	50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}

	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}

	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}

	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}

	57%,
	71%,
	85%,
	99%,
	to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

 @-webkit-keyframes bounce-left {
	0% {
		-webkit-transform: translateX(-48px);
		transform: translateX(-48px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}

	24% {
		opacity: 1;
	}

	40% {
		-webkit-transform: translateX(-26px);
		transform: translateX(-26px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	65% {
		-webkit-transform: translateX(-13px);
		transform: translateX(-13px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	82% {
		-webkit-transform: translateX(-6.5px);
		transform: translateX(-6.5px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	93% {
		-webkit-transform: translateX(-4px);
		transform: translateX(-4px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}

@keyframes bounce-left {
	0% {
		-webkit-transform: translateX(-48px);
		transform: translateX(-48px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}

	24% {
		opacity: 1;
	}

	40% {
		-webkit-transform: translateX(-26px);
		transform: translateX(-26px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	65% {
		-webkit-transform: translateX(-13px);
		transform: translateX(-13px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	82% {
		-webkit-transform: translateX(-6.5px);
		transform: translateX(-6.5px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	93% {
		-webkit-transform: translateX(-4px);
		transform: translateX(-4px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
