:root {
	--body-bg: #201654;
	--body-color: #fff;
	--font: "Poppins", sans-serif;
}


main {
	padding: 20px 0px;
	display: flex;
	justify-content: center;
}

/* reusable classes */

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
	/* align-items: center; */
}

.flex-col {
	flex-direction: column;
	display: flex;
	gap: 20px;
}

.info-card {
	display: flex;
}
.wrap-enrol{
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-direction: column;

}
.personal-information-section {
	width: 120vh;
	height: 100%;
	border: 0.5px solid #ffffff;
	border-radius: 15px;
	background: #4949491f;
	box-shadow: 0px 20px 100px 0px #00000040;
	padding: 35px 30px;
	color: white;
	display: flex;
	gap: 32px;

}

.personal-information-section>.h1-text {
	font-size: 32px;
	font-weight: 700;
}

.personal-information-body {
	flex-direction: column;
	gap: 15px;
}
.wrap-icon-c{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.personal-information-body>a {
	color: white;
	font-size: large;
	flex-direction: row;
	display: flex;
	gap: 10px;
}

.personal-information-body>a:hover {
    color: #a877cb;
    transition: 0.6s ease-in-out;
}

.card-item {
	width: 500px;
	height: 100px;
	border-radius: 8px;
	background: #f5f5f526;
	align-items: center;
	justify-content: space-between;
	padding: 0px 22px;
}

.card-item:not(:last-child) {}

.info-section {
	width: 50%;
}

.p-text-enroll{
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #9cb3c9;

}

.h1-text-enroll{
	font-size: 18px;
    font-weight: 700;
    color: #dbcb40;
}

.p-text {
	font-size: 16px;
	font-weight: 300;
	text-align: left;
}

.secondary-text {
	font-weight: 400 !important;
	color: #9cb3c9;
	font-size: 16px !important;
	white-space: nowrap;
	overflow: hidden;
	text-transform: capitalize;
	text-overflow: ellipsis;
}

.change-btn {
	background-color: #fff;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	/* font-weight: 600; */
	transition: all 0.3s ease-in-out;
	font-weight: 600;
}

.change-btn:hover {
	opacity: 0.7;
}
.email-information{
	display: flex;
	gap: 10px;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}
.personal-info {
	flex: 1;
}
.badges-profile-edit{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}
.badges-profile-edit img {
    width: 30px;
    height: 30px;
	

}
.edit-field{
	border: none;
    background: #544780 50% / cover no-repeat;
    box-shadow: 0px 28.407px 142.034px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8.522032737731934px);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
    /* text-align: center; */

	
}
.profile-pic {

}

.profile-pic img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover; /* This ensures the image covers the container while maintaining aspect ratio */
	border: 1px solid #ffffff;
}


.profile-name>.h1-text {
	font-size: 24px;
	font-weight: 700;
	text-transform: capitalize;
}
.flex-container-info{
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: column;

}
.email-indormation{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon-btn {
	width: 30px;
	background-color: transparent;
	border: none;
}

.profile-icons {
	gap: 20px;
	width: 100%;
}

.profile-stats {
	width: 90%;
    gap: 50px;
    border: 1px solid;
    border-radius: 20px;
    padding: 15px 10px;
}

.stat-item>.p-text {
	font-size: 15px;
	font-weight: 700;
}

.stat-item>.h1-text {
	font-size: 20px;
	font-weight: 700;

}


.profile-bio>.h1-text {
	font-weight: 700;
}

.modale:before {
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.opened:before {
	display: block;
}

.opened .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	top: 20%;
}

.modal-dialog {
	/* background: #fefefe; */
	/* border: #333333 solid 0px; */
	/* border-radius: 10px; */
	/* text-align: center; */
	position: fixed;
	left: 40%;
	right: 50%;
	/* top: -100%; */
	width: 15rem;
	z-index: 11;
	/* width: 494px; */
	-webkit-transform: translate(0, -500%);
	-ms-transform: translate(0, -500%);
	/* transform: translate(0, -500%); */
	/* -webkit-transition: -webkit-transform 0.3s ease-out; */
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	border-radius: 10px;
	border: 0.5px solid #F5F5F5;
	background: linear-gradient(144deg, rgb(255 255 255 / 10%) 20.47%, #201654 107.38%);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(42px);
}

.modal-body form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.modal-body input {
	width: -webkit-fill-available;
	background: transparent;
	padding: 0 14px;
	border-radius: 7px;
	font-size: small;
	font-weight: 400;
	border-radius: 7.579px;
	border: 0.561px solid #BDC4CD;
	height: 35px;
	color: #96A0AD;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal-header,
.modal-footer {
	padding: 10px 20px;
	display: flex;
	justify-content: center;
}

.modal-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.modal-header span {
	color: #FFF;
	font-size: 24.718px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.494px;
}

.modal-header span:nth-child(2) {
	color: #96A0AD;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.237px;
	text-transform: capitalize;
	width: 80%;
}

.modal-dialog .btn-close {
	color: var(--WHITE-C);
	font-size: larger;
	width: 100% !important;
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-right: 1rem;
	height: 25px;
}

.modal-footer .submit-btn {
	background-color: #fff;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	/* font-weight: 600; */
	transition: all 0.3s ease-in-out;
	font-weight: 600;
}

label {
	font-size: medium;
	color: white;
}

/* Pop Ups */

.popup-message {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 8px;
	border: 1px solid #a45cf6;
	background: #1a0037;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	padding: 8px;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: max-content;
	transition: 1s ease-in-out;
}

.popup-message.error {
	background: #352E1B;
	border: 1px solid #62540D;
}

.popup-message.error .pop-up-close-button {
	background: #D1BC50;
	color: black;
}

.popup-message.error svg {
	color: #D1BC50;
}

.flex-pops {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 5px;
	transition: 1s ease-in-out;

}

.popup-show {
	display: flex;
	animation: fadeIn 1s;
	transition: 1s ease-in-out;

}

.pop-up-close-button {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
	border-radius: 8px;
	display: flex;
	padding: 6px 24px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-weight: 700;
	background: #9747FF;
	text-transform: uppercase;
}

/* large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1440px) {
	main {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.personal-information-section {
		width: 850px;
		padding: 2rem;
	}

	.card-item {
		width: 400px;
	}
}

/* small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
	main {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.personal-information-section {
		flex-direction: column;
		width: 620px;
		padding: 2rem;
	}

	.personal-information-section>.h1-text {
		font-size: 30px;
		font-weight: 700;
	}

	.flex-col {
		width: 100%;
	}

	.card-item {
		width: 100%;
	}
}

/* extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	main {
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
	}

	.personal-information-section {
		flex-direction: column;
		width: 100%;
		padding: 2rem;
	}

	.personal-information-section>.h1-text {
		font-size: 30px;
		font-weight: 700;
	}

	.flex-col {
		width: 100%;
	}

	.card-item {
		width: 100%;
		flex-direction: column;
		height: auto;
		padding: 10px 22px;
		gap: 10px;
	}
}