@font-face {
	font-family: "LucideIcons";
	src: url('{% static "path/to/lucide-icons.woff2" %}') format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.chat-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 90vh;
	box-sizing: border-box;
	padding: 5px 20px;
}

.chat-rooms {
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
	overflow: hidden;
	max-height: 100vh;
	/* Adjust based on your content's initial visible height */
	opacity: 1;
}

/* Toggle show and hide  */
.chat-rooms.collapsed {
	max-height: 0;
	/* Collapse to no visible content */
	opacity: 0;
	/* Fade out the content */
	display: none;
}


.chat-members {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	transition: opacity 0.5s, transform 0.5s;
	opacity: 1;
	transform: translateY(0px);
}

.chat-members.hidden {
	opacity: 0;
	transform: translateY(-20px);
	/* This creates a slight upward movement when hiding */
	display: block !important;
	/* This overrides any 'display: none' inline styles during transition */
	pointer-events: none;
	/* Prevents clicks during the transition */
}

/* Use this to keep the div from taking up space after the transition */

.chat-members.hidden {
	display: none !important;
	/* Enforce 'display: none' after a delay */
	animation: disappear 0s linear 0.5s forwards;
}

@keyframes disappear {
	to {
		display: none;
	}
}

@keyframes appear {
	from {
		opacity: 0;
		display: block;
		/* Make sure the element is displayed when the animation starts */
	}

	to {
		opacity: 1;
	}
}


.chat-rooms,
.chat-members {
	width: 20%;
	/* border-radius: 8px; */
}

.chat-rooms-header>span {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 20px;
	gap: 10px;
}

.chat-rooms-header>.to-courses {
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	border-radius: 20px 0px 0px 0px;
	background: rgb(50 7 150) 50% / cover no-repeat;
	/* border: 0.5px solid var(--color-gray-10, #ffffff86);  */
	/* padding: 0px 0px; */
	/* border: 0.5px solid #ffffff4e; */
}

.chat-rooms-header>.to-courses>span {
	color: #f5f5f5;
	font-size: large;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	display: flex;
	align-items: center;
	gap: 10px;
}
.add-channel{
	cursor: pointer;	
	
}
.add-channel:hover{
		transform: rotate(90deg); 
		transition: 0.7s ease-in-out;
	
}
.toggle-button{
	cursor: pointer;

}
.text-channels-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 10px;
	background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
	box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 17%);
	width: 100%;
	border-radius: 0px 0px 0px 0px;
	/* border: 0.5px solid var(--color-gray-10, #ffffff86); */
	/* backdrop-filter: blur(8px); */
}

.text-channels-header>div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	color: #f5f5f5;
	font-size: small;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.text-channels {
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	width: 100%;
	max-height: 74vh;
	height: 74vh;
	/* border: 0.5px solid var(--color-gray-10, #ffffff86); */
	/* background: rgb(50 7 150 / 26%) 50% / cover no-repeat; */
	/* border-radius: 10px; */
	/* padding: 0px; */
}

.text-channels::-webkit-scrollbar {
	width: 8px;
}

.text-channels::-webkit-scrollbar-thumb {
	border: 0.5px solid var(--color-gray-10, #ffffff86);
	background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	/* border-radius: 4px; */
}

.channels-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 0px;
	width: 100%;
}

.channel-link {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	color: #c8c6c6;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	padding: 10px 10px;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.channel-link:hover {
	background-color: #ffffff35;
	border-radius: 5px;
	color: #ffffff;
	white-space: normal;
}

.channels-list>.active {
	/* border-radius: 0px; */
	background: #8066a029;
}

button {
	background: transparent;
	border: none;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
	transition: 1s ease-in-out;
}

.chat-rooms {
	position: relative;
}

.chat-rooms>.rooms-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	justify-content: space-between;
	width: -webkit-fill-available;
}

.user-profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 15px;
	width: 100%;
	height: 71px;
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	background: rgb(50 7 150) 50% / cover no-repeat;
	border-radius: 0px 0px 0px 20px;
	/* border: 0.5px solid var(--color-gray-10, #ffffff86); */
	/* background: rgb(50 7 150 / 26%) 50% / cover no-repeat; */
	/* gap: 0px; */
}

.user-profile>.user-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	cursor: pointer;
}

.user-pic>.user-status {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #2ecc71;
	transition: background-color 0.5s ease;
	border: 3px solid #1c153e;
}

.user-status-offline {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #939292e2;
	transition: background-color 0.5s ease;
	border: 4px solid #1c153e;
}

.user-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.user-status-text {
	transition: color 0.3s ease;
	font-size: small;
	color: #FFFFFF;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0px;
}

.user-info>.user-name {
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.32px;
}

.user-info>.user-status {
	color: #D3D3D3;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.user-pic {
	width: 50px;
	height: 50px;
	/* border-radius: 50%; */
	position: relative;

}

.change-status {
	display: flex;
    flex-direction: column;
    border: 0.5px solid #ffffff29;
    background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
    box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    padding: 15px;
    padding-left: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    bottom: 7.81vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    z-index: 100;
}

.change-status>.status {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	padding: 5px;
	border-radius: 8px;
}

.change-status>.status>.status-text {
	color: #fff;
	font-size: medium;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;

}

.change-status>.status>.status-online {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #2ecc71;
}

.change-status>.status>.status-away {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #FFA500;
}

.change-status>.status>.status-busy {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ff3318;
}

.hidden {
	display: none;
	transition: display 0.3s ease;
}

.change-status.visible {
	max-height: 200px;
}

.change-status>.status:hover {
	cursor: pointer;

	color: #FFFFFF;
	border: 0.5px solid #ffffff4e;
}

.chat-container {
	position: relative;
	width: 65%;
	flex: 1;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	transition: 0.5s ease-in-out;
	

}

.chat-input {
	background: rgb(29 21 93);
	color: #FFFFFF;
	border-radius: 20px;
	padding: 3px 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0px 0px 30px 0px;
	height: 55px;
}

.chat-header {
	/* border: 0.5px solid var(--color-gray-10, #ffffff86); */
	/* background: rgb(50 7 150 / 26%) 50% / cover no-repeat; */
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	width: 100%;
	height: 71px;
	display: flex;
	border-radius: 10px;
	gap: 10px;
	align-items: center;
	padding: 10px 15px;
}

.chat-title {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	gap: 5px;
	width: 100%;
	/* height: 90%; */
	/* border-radius: 15px; */
	align-items: center;
}

.chat-title-channel-group {
	color: #f5f5f5de;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.chat-title-room {
	display: flex;
	align-items: center;
	gap: 0px;
	font-size: 20px;
	color: #f5f5f5de;
	justify-content: center;
}

.chat-footer-box {
	display: flex;
	width: 100%;
	padding: 10px 35px;
	justify-content: center;
	flex-direction: column;
	/* border-bottom: 0.5px solid var(--color-gray-10, #ffffff86); */
	height: 30px;
	z-index: 100;
	/* border-radius: 8px; */
	/* background: rgb(50 7 150 / 26%) 50% / cover no-repeat; */
	/* box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25); */
	/* backdrop-filter: blur(6px); */
}

.message-text>a {
	color: #0ba4f7;
}

.upload-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.chat-footer-box .buttons-group {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	;
}

.chat-input>textarea {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	width: 85%;
	background: transparent;
	border: none;
	color: #ffffff;
	font-size: 15px;
	overflow: hidden;
	resize: none;
	height: 40px;

}

.chat-input>textarea:focus-visible {
	border: none;
	outline: none;
	color: #FFFFFF;
}

.chat-footer-box .buttons-group>.send-message {
	border: none;
	background: none;
	display: flex;
	justify-content: center;
}

.send-message>svg {
	color: #ffffff;
}

.message-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.message-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;
}

.message-content>.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.message-content>.user-info>.user-name {
	color: #fff;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
}

.message-content>.user-info>.message-date {
	color: #aaaeb6;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.message-content>.user-info>.message-time {
	color: #aaaeb6;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.chat-container>.chat-box {
	/* background: linear-gradient(271deg, #510aad 48.8%, #1890ff 151.36%); */
	/* border: 0.5px solid #ffffff4e; */
	/* height: 105%; */
	padding: 10px 10px;
	overflow-y: scroll;
	flex-direction: column;
	scroll-behavior: smooth;
	display: flex;
	height: 96%;
	border-radius: 8px;

}

.chat-container>.chat-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #D3D3D3;
	border-radius: 48px;
}

.chat-container>.chat-box::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
	border-radius: 10px;
}

.chat-container>.chat-box::-webkit-scrollbar-thumb {
	border-radius: 18px;
	background-image: -webkit-gradient(linear,
			left bottom,
			left top,
			color-stop(0.44, rgba(58, 7, 100, 0.826)),
			color-stop(0.72, rgb(83, 10, 210)),
			color-stop(0.86, rgb(90, 18, 198)));
}

.chat-message {
	/* background-color: #8066a029; */
	/* border-radius: 8px; */
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 0px;
	position: relative;
	background: transparent;
	padding: 10px;
	height: fit-content;
}

.message-content>span {
	color: #dcdee1;
	font-size: 15.983px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
}

.chat-message:hover {
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	transition: 0.4s ease-in-out;
	/* z-index: -1; */
}

.chat-message>.reply-react {
	display: none;
}

.chat-message>.reply-react>.reply {
	padding: 7px 10px;
	display: flex;
	align-items: center;
}

.chat-message>.reply-react>.react {
	padding: 7px 10px;
	display: flex;
	align-items: center;
	position: relative;
	color: #FFFFFF;
}

.chat-message>.reply-react>.reply:hover {
	background: rgb(112 52 169);
	/* border-radius: 7px; */
}

.chat-message>.reply-react>.react:hover {
	background: rgb(112 52 169);
	/* border-radius: 7px; */
}

.chat-message:hover>.reply-react {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	top: -7%;
	right: 2%;
	/* border-radius: 7px; */
	border: 0.5px solid var(--color-gray-10, #ffffff86);
	background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
}

.message-replied {
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	align-items: center;
	gap: 10px;
}

.message-replied>.user-pic {
	width: 30px;
	height: 30px;
}

.message-replied>.user-pic>img {
	width: 100%;
}

.message-replied>span {
	color: #D3D3D3;
	font-size: small;
}

.message-replied>.user-tag {
	padding: 2px 5px;
	background: #a45cf6;
	color: #D3D3D3;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: small;
	/* border-radius: 6px; */
}

.reactions-box {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 5px 0;
	/* border-radius: 8px; */
}

.reactions-box>.react {
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid #7633c2af;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	gap: 5px;
	padding: 3px 7px;
	cursor: pointer;
	color: white;
}

.reactions-box>.react>.emoji {
	width: 18px;
	height: 18px;
	font-size: small;
	color: red;
}

.reactions-box>.react>.count {
	color: #ffffff;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	z-index: 100;
}

.react:hover {
	background-color: #8e04a3;
}

.message-image>img {
	max-width: 400px !important;
	-webkit-box-shadow: 3px 2px 30px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 3px 2px 30px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 3px 2px 30px -6px rgba(0, 0, 0, 0.75);
	/* border-radius: 10px; */
}

.replying-to {
	width: 100%;
	padding: 0px 10px;
	display: none;
	flex-direction: row;
	align-items: center;
	background: #00000069;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 20px;
}

.replying-to>span {
	font-size: 14px;
	color: #808080;
	font-weight: 500;
}

.replying-to>.close {
	transition: 0.3s;
	margin-left: auto;
	display: flex;
	position: static;
}

.replying-to>.close>svg {
	font-size: 14px;
	color: #808080;
	width: 20px;
	height: 20px;
	font-weight: 500;
}

.reply-input {
	display: flex;
	align-items: center;
	padding: 8px;
	background-color: #f9f9f9;

}

.reply-input textarea[type="text"] {
	flex: 1;
	border: none;
	padding: 8px;
	outline: none;
	/* border-radius: 4px; */
}

.reply-input button.send-reply {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	outline: none;
	/* border-radius: 4px; */
}

.reply-input button.send-reply:hover {
	background-color: #0056b3;
}

.reacts-available {
	display: none;
}

.chat-message>.reply-react>.react:hover .reacts-available {
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: -49px;
	padding: 10px;
	right: -44px;
	background-color: rgb(22 21 21);
	/* border-radius: 8px; */
	box-shadow: 0 2px 20px 0px rgb(0 0 0 / 41%);
	gap: 5px;
	border: 0.5px solid #ffffff4e;
}

.reacts-available>span {
	/* border-radius: 8px; */
	font-size: 16px;
	padding: 5px;
}

.chat-members-header {
	/* font-weight: 600;  */
	/* border: 0.5px solid var(--color-gray-10, #ffffff86); */
	/* background: rgb(50 7 150 / 26%) 50% / cover no-repeat; */
	/* box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25); */
	background: rgb(50 7 150) 50% / cover no-repeat;
	backdrop-filter: blur(6px);
	display: flex;
	flex-direction: column;
	height: 71px;
	border-radius: 0px 20px 0px 0px;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.chat-members-header>div {
	flex-direction: row;
	display: flex;
	gap: 10px;
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	text-transform: capitalize;
	align-items: center;
}

.chat-members-header>span {
	color: #1eff0f;
	font-size: 12px;
	font-style: italic;
	font-weight: 300;
	line-height: 14px;
	text-transform: capitalize;
}

.chat-members-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border-radius: 8px; */
	/* border: 0.5px solid #ffffff4e; */
}

.SearchMember-input {
	/* background: rgb(50 7 150 / 26%) 50% / cover no-repeat; */
	height: min-content;
	border: 0.5px solid var(--color-gray-10, #ffffff86);
	box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	padding: 5px 10px;
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}

.SearchMember-input>input {
	width: 100%;
	background: transparent;
	border: none;
	color: #adabab;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.56px;
	border: none;
	outline: none;
}

.SearchMember-input>input:focus-visible {
	color: #f5f5f5;
}

.SearchMember-input>.send-message {
	display: flex;
	justify-content: center;
	padding: 4px 4px;
	/* border-radius: 8px; */
}

.memebers-list {
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
	max-height: 78vh;
	height: 78vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	gap: 5px;
}

.fade-in {
	animation: fadeIn 0.5s ease-out;
}

.members-titel {
	color: #adabab;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0.24px;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.users-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px 15px;
}

.users-list>li.user {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	padding: 5px 9px;
}

.user-pic>img {
	border-radius: 50%;
}

.users-list>li.user>.user-pic {
	width: 45px;
	height: 45px;
	border-radius: 50px;
	position: relative;
}

.users-list>li.user>.user-pic>img {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	position: relative;
}

.users-list>li.user>.user-pic>.user-status {
	background-color: #2ecc71;
	border: 1px solid #1c153e;
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	/* border-radius: 50%; */
	transition: background-color 0.5s ease;
}

.users-list>li.user>.user-name {
	color: #92c2dd;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.memebers-list::-webkit-scrollbar {
	width: 8px;
}

.memebers-list::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.reacts-available>span:hover {
	background-color: #00000069;
}

.users-list>li.user:hover {
	border-radius: 4px;
	background: rgba(164, 92, 246, 0.32);
	padding: 5px 9px;
	transition: 0.3s ease-in-out;
	cursor: pointer;

}

.message-content>.message-text {
	color: #dcdee1;
	font-size: 15.983px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 234px;
	white-space: nowrap;
	/* Add this line */
}

.chat-rooms-mobile,
.toggle-chat-room-mobile {width: 30px;}

.chat-members-mobile,
.toggle-chat-members-mobile {
}

.chat-rooms,
.chat-members {
	display: block;
	display: flex;
	flex-direction: column;
}

.close-rooms,
.close-toggle {
	display: none;
}

.to-courses:hover {
	background: linear-gradient(271deg, #510aad 48.8%, #1890ff 151.36%);
	transition: 0.8s ease-in-out;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.reactions-list {
	display: none;
}

.reactions-list span {
	font-size: large;
	padding: 7px 10px;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	color: #FFFFFF;
}

.reactions-list span:hover {
	font-size: large;
	background: #00000069;
}

.reactions-list.show {
	display: flex;
}

.file-icon-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	display: flex;
}

.file-icon-button i {
	color: #666;
}

.chat-message-submit>svg:hover {
	transform: rotate(45deg);
	transition: 1s ease-in-out;
	/* width: 28px; */
	/* height: 28px; */
	cursor: pointer;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.image-user-upload>img {
	width: auto;
	height: auto;
	max-height: 300px;
	max-width: 300px;
	border-radius: 10px;
	padding: 5px 0px;
	transition: transform 0.5s ease, box-shadow 0.7s ease;
	/* Smooth transition for transform and box-shadow */
	cursor: pointer;
	/* Indicates that the item is interactable */
}

.image-user-upload>img:hover,
.image-user-upload>img:active {
	/* Active for when the image is clicked */
	transform: scale(1.04);
	/* Slightly larger scale on hover/click */
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	/* Shadow effect for depth */
}

.emoji-button {
	cursor: pointer;
}

.emoji-button:active>svg {
	transform: scale(1.1);
	transition: 0.3s;
}

.align-emojis {
	display: flex;
	flex-direction: row;
	gap: 10px;
	/* padding: 10px; */
	justify-content: center;
	position: relative;
}

#emoji-picker {
	display: none;
	position: absolute;
	bottom: 50px;
	left: 0;
	border: 0.5px solid var(--color-gray-10, #ffffff62);
	background: rgb(0 0 0 / 26%) 50% / cover no-repeat;
	border-radius: 10px;
	padding: 10px;
	width: 275px;
	height: auto;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	overflow-y: unset;
	overflow-x: hidden;
}

.emoji-span {
	cursor: pointer;
	font-size: 20px;
	padding: 5px;
	transition: 0.4s ease-in-out;
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.emoji-span:hover {
	background: #00000069;
	border-radius: 10px;
	transition: 0.4s ease-in-out;

}
.change-status-btn{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.change-status-btn > svg , .change-status-btn > i{
	cursor: pointer;
}
.emoji-span:active {
	transform: scale(1.1);
	transition: 0.3s;
}

.gif-picker-button {
	cursor: pointer;
}
.emoji-button> img {
	width: 24px;
	height: 24px;
	border-radius: 100%;
}
.gif-picker-button:active {
	background: #6e0ca669;
	border-radius: 10px;
	transition: 0.4s ease-in-out;
}

.gif-picker {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	cursor: pointer;
	position: absolute;
	right: 1vh;
	top: 56vh;
	width: 260px;
	height: 260px;
	overflow-y: scroll;
	background: white;
	border-radius: 10px;
	display: none;
}

.gif-picker>img {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 60px;
	height: 122px;
	/* border-radius: 10px; */
	cursor: pointer;
	transition: 0.4s ease-in-out;

}

.chat-message-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: none;
	border-radius: 20px;

}

.chat-message-input:focus {
	border-color: blue;
}

.file-preview-container {
	position: absolute;
	bottom: 10vh;
	right: 10vh;
}

.file-preview {
	position: absolute;
	bottom: 10vh;
	right: 10vh;
}

@-webkit-keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}


@-webkit-keyframes slide-in-blurred-top {
	0% {
		-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes slide-in-blurred-top {
	0% {
		-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}


@-webkit-keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
.chat-rooms.show {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: unset;
    pointer-events: unset;
}
.chat-members.show {
	display: flex;
	flex-direction: column;
	opacity: 1;
	transform: unset;
	pointer-events: unset;
}
.mobile-toggles-btn{
	display: none;
}
@media screen and (max-width: 768px) {
	.mobile-toggles-btn{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.chat-rooms {
		display: none;
		opacity: 0;
		transform: translateY(-20px);
		pointer-events: none;
		width: 100%;
	}
	.chat-members {
		display: none;
		opacity: 0;
		transform: translateY(-20px);
		pointer-events: none;
		width: 100%;
	}
	.chat-container.hidden{
		display: none;
	}
	#chatRoomsToggle {
		display: none !important;
	}
	#toggleButton{
		display: none !important;
	}
}