
  
  .settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
  }
  
  .settings-container > .h1-text {
    display: flex;
    width: 100%;
    height: 41px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
  }
  
  .settings {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: 100%;
    max-height: 100%;
    gap: 25px;
    justify-content: flex-start;
    padding: 0px 200px;
    
  }
  
  .setting {
    cursor: pointer;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    border-radius: 12px;
    border: 0.5px solid #fff;
    background: rgba(73, 73, 73, 0.12);
    box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    width: fit-content;
    min-width: 29%;
    max-width: 29%;
    transition: opacity 0.5s ease-out;
  }
  .setting:hover{
    background: linear-gradient(131deg, rgba(255, 255, 255, 0.00) -85.83%, rgba(24, 144, 255, 0.28) 113.07%);
    box-shadow: 0px 20.821px 104.104px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(260.2599182128906px);
    
  }
  .setting > .setting-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    
  }
  
  .setting-body > .h1-text {
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 20px; */
    padding-top: 15px;
  }
  
  .setting-body > .p-text {
    color: #d9d9d9;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 23px;
  }
  .setting > svg {
    width: 32px;
    height: 32px;
    color: white;
  }
  .setting.disabled{
    border: 0.5px solid #4b4b4b;
    background: rgb(59 59 59 / 33%);
    cursor: not-allowed;
  }
  .setting.disabled > svg{
    color: gray;
  }
  .setting.disabled > .setting-body{
    color: gray;
  }
  .setting.disabled .h1-text{
    color: gray;
  }
  .setting.disabled .p-text{
    color: gray;
  }
  @media screen and (max-width: 1440px) {

    .settings-container {
      height: 100%;
      width: 100%;
    }
  
    .settings {
      max-width: 100%;
      height: fit-content;
      padding: 0px 100px;
    }
  
    .setting {
      width: 40%;
      /* margin-bottom: 40px; */
    }
  }
  @media screen and (max-width: 1024px) {

    .settings-container{
      padding: 20px 0px;
    }
    main{
      height: 100%;
      min-height: 100vh;
      max-height: 100%;
    }
    .setting {
      width: 48%;
      min-width: unset;
      max-width: unset;
      /* margin-bottom: 40px; */
    }
  }
  @media screen and (max-width: 768px) {
    main{
      height: 100%;
      min-height: 100vh;
      max-height: 100%;
    }
    .settings{
      width: 100%;
      justify-content: center;
      padding: 0;
    }
    .settings-container {
      height: 90%;
      margin: 0 auto;
    }
  
    .setting {
      width: 80%;
      margin-bottom: 10px;
    }
  
    .setting {
      width: 80%;
      /* margin-bottom: 40px; */
    }
  }