@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  height: 100vh;
  
  background: radial-gradient(
      325.78% 172.71% at 109.69% 123.93%,
      rgb(32, 22, 84) 1.34%,
      rgb(18, 7, 71) 100%
    ),
    radial-gradient(
      325.78% 172.71% at 109.69% 123.93%,
      rgb(8, 4, 28) 1.34%,
      rgb(0, 0, 0) 100%
    );
  overflow-x: hidden;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1081px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  border: 0.5px solid rgb(255, 255, 255);
  background: rgba(73, 73, 73, 0.12);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 100px 0px;
  backdrop-filter: blur(6px);
  padding: 40px;
  gap: 35px;
}

.form > .form-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-header > .h1-text {
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: capitalize;
}

.form-header > .p-text {
  color: rgb(185 180 180);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  text-transform: capitalize;
}

.form-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.form-body > .left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  gap: 24px;
}

.left-block > .h1-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 112% */
  text-transform: capitalize;
  margin-bottom: 10%;
}
.form-body > .right-block {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.right-block > .h1-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 112% */
  text-transform: capitalize;
  margin-bottom: 10%;
}

.divisier {
  background-color: #fff;
  width: 1.5px;
  height: 35vh;
  border-radius: 3px;
}

.notification-setting {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  gap: 4px;
}

.notification-setting > .p-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  text-transform: capitalize;
}
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 32px;
  border: 1px solid #fff;
  /* background: linear-gradient(to right, #260FB8, #9747FF); */
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
 transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked + label {
  background: linear-gradient(to right, #9747FF, #260FB8);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
  transition-delay: 0!important;
}
.go_back{
  color: white;
  font-size: large;
  flex-direction: row;
  display: flex;
  gap: 10px;
  width: 100%;
  text-decoration:solid underline white 1px ;
}
.go_back:hover{
  color: lightgrey;
}







@media screen and (max-width: 1440px) {
  .form {
    width: 70%;
  }

  .form-header > .h1-text {
    font-size: 32px;
  }

  .form-header > .p-text {
    font-size: 14px;
    width: 95%;
  }

  .left-block > .h1-text {
    font-size: 22px;
    margin-bottom: 8%;
  }

  .right-block > .h1-text {
    font-size: 22px;
    margin-bottom: 8%;
  }

  .notification-setting > .p-text {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
  }

  .notification-setting {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  
  .main{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form {
    width: 90%;
}
  .form-body {
    width: 97%;
  }
  .notification-setting {
    min-width: 100% !important;
  }

  .divisier {
    /* height: 20vh; */
  }
  .notification-setting > .p-text{
    font-size: 14px;
  
  }
}

@media screen and (max-width: 768px) {
  body {
    height: 107vh;
    background: radial-gradient(325.78% 172.71% at 109.69% 123.93%, rgb(32, 22, 84) 1.34%, rgb(18, 7, 71) 100%), radial-gradient(325.78% 172.71% at 109.69% 123.93%, rgb(8, 4, 28) 1.34%, rgb(0, 0, 0) 100%);
    overflow-x: hidden;
}
  .form {
    max-width: 90%;
  }
  .form-body {
    flex-direction: column;
    width: 100%;
    gap: 35px;
  }

  .notification-setting {
    width: 100% !important;
  }

  .form-body > .left-block {
    width: 100%;
  }
  .form-body > .right-block {
    width: 100%;
  }

  .divisier {
    background-color: #fff;
    width: 100%;
    height: 0.5px;
    border-radius: 3px;
  }

  .right-block > .h1-text {
    margin-bottom: 3% !important;
  }
  .left-block > .h1-text {
    margin-bottom: 3% !important;
  }

  .notification-setting > .p-text {
    font-size: 16px;
  }
  
}


@media screen and (max-width: 430px) {
  .main{
    display: flex;
    flex-direction: column;
  }
  .form {
    width: 100%;
    padding: 20px ;
  }
  .form-header > .h1-text {
    font-size: 28px;
  }
  .form-header > .p-text {
    font-size: 12px;
  }
  .left-block > .h1-text {
    font-size: 20px;
  }
  .right-block > .h1-text {
    font-size: 20px;
  }
  .notification-setting > .p-text {
    font-size: 14px;
  }
  .notification-setting {
    width: 100%;
  }
  .form > .form-header{
    gap: 20px;
  }
}

@media screen and ( max-width: 375px) {
  .form {
    padding: 20px 20px;
  }
  .form-header > .h1-text {
    font-size: 24px;
  }
  .form-header > .p-text {
    font-size: 11px;
  }
  .left-block > .h1-text {
    font-size: 18px;
  }
  .right-block > .h1-text {
    font-size: 18px;
  }
  .notification-setting > .p-text {
    font-size: 12px;
  }
  .notification-setting {
    width: 100%;
  }
  .form > .form-header{
    gap: 15px;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    border: 1px solid #fff;
    /* background: linear-gradient(to right, #260FB8, #9747FF); */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: relative;
}
label:after {
  content: '';
  background: #fff;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}
}