@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-quiz {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: auto;
}

.question-text {
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 27px;
	/* 112.5% */
	text-transform: capitalize;
}

.text-default-quiz {
	color: #FFF;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	line-height: 27px;
	/* 100% */
	letter-spacing: 2.43px;
	text-transform: uppercase;
}

.answers-design {
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: left;
	align-items: center;
}

#container-answers>div {
	display: flex;
	flex-direction: row;
	/* gap: 20px; */
	color: #FFF;
	font-size: 19px;
	/* font-style: normal; */
	/* font-weight: 400; */
	/* line-height: 27px; */
	/* letter-spacing: 1.14px; */
	text-transform: capitalize;
	width: 587px;
	height: 59px;
	border-radius: 4px;
	border: 1px solid #FFF;
	/* background: rgba(73, 73, 73, 0.12); */
	/* justify-content: center; */
	align-items: center;
	text-align: left;
	padding: 0px 15px 0px 20px
}

.answer-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	border: 1px solid #FFF;
	background: rgba(51, 255, 0, 0.29);

}

.answer-wrong {
	display: flex;
	justify-content: space-between;
	border-radius: 4px;
	background: rgba(255, 0, 0, 0.21);

}

.retry-button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	/* Adjust based on layout */
}

.answer-unselected {
	background: rgba(0, 0, 0, 0.1);
	/* Light grey background */
	color: #ccc;
	/* Dimmed text color */
}

.feedback-message {
	padding: 10px;
	margin-top: 20px;
	border-radius: 4px;
	color: #FFF;
	text-align: center;
	font-size: 18px;
	/* Adjust the background color based on the type of message */
	background-color: #dc3545;
	/* Red for wrong answer */
}

/* .next-lesson{
    display: flex;
    width: 45vh;
     justify-content: space-between; 
    align-self: end;
} */

.keep-next {
	text-decoration: none;
	color: #FFF;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	cursor: pointer;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 6px;
	border: 1px solid #FFF;
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.iconlike {
	align-self: flex-end;
}